#brand {
    width: 100vw;
    border: 1px solid black;

    .wrapper {
        max-width: 80%;
        margin: auto;

        &::after {
            content: "";
            display: block;
            clear: both;

        }

        #logo {
            float: left;
            border: 1px solid green;
        }

        .switcher-wrapper {
            float: right;
            display: flex;
            flex-direction: row;
            border: 1px solid green;
            position: relative;
            top: 20px;

            .white {
                padding-right: 10px;
                color: #464646;
            }

            .black {
                color: #4646469c;
            }

            // Swticher ball color 59BAFC
            // Switcher line color 464646

    


        }
    }


    
}
